body{
  background-color:#E0DBD1;
}

.topBar{
  margin-top: 5px;
  background-color: rgb(87, 87, 87);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width:100%;
}

.bottomBar{
  margin-top:200px;
  background-color: rgb(87, 87, 87);
  padding: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width:100%;
}